html, body{
    max-width:100%;
   
    margin:0;
    background-size:cover;
   
    height:100%;

}
.First{
  padding-top:100px;
background-image:url("images/beach.jpg");
background-size:auto;


   background-position:center center;
   background-repeat:no-repeat;

display:flex;
justify-content:center;
align-items:center;
padding-bottom:100px;
}



.First div
{
    display:flex;
justify-content:center;
align-items:center;
}



.Second
{
    padding-bottom:100px;
    padding-top:100px;
    background-color:rgb(236, 233, 233);
      background-size:auto;
      
      
         background-position:center center;
         background-repeat:no-repeat;
      
      display:flex;
      justify-content:center;
      align-items:center;
   
}

.Second div{
    display:flex;
    justify-content:center;
    align-items:center;
}
.Third
{
  padding-top:100px;
  background-image: url("images/table.jpg");
    background-size:auto;
    
    
       background-position:center center;
       background-repeat:no-repeat;
    
    display:flex;
    justify-content:center;
    align-items:center;
  
}

.Third div{
    display:flex;
justify-content:center;
align-items:center;
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}